.wrapper-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

.wrapper-grid div.items{
    margin:0.3em;
}

.wrapper-welcome{
    width: 200px;
    background: #ffdd07;
    padding: 1em 1em 1em 1em;
}

.content-welcome{
    padding-left: 0.5em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    color: white;
}

.wrapper-groups{
    display: flex;
    width: 300px;
    flex-direction: column;
}

.wrapper-groups-menu{
    display: flex;
    width: 300px;
    flex-direction: column;
}

.wrapper-groups-menu-options {
    display: flex;
    width: 300px;
    flex-direction: row;
}


.menu-options, .menu-options-people{
    width: 150px;
    height: 150px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-options-people{
    background: #b0bcbc;
}
.menu-options:first-child{
    background: #4DCFDF;
}

.menu-options:last-child{
    background: #3DCD90;
}

.wrapper-photo{

}

.wrapper-groups-big{
    display: flex;
    flex-direction: column;
}

.wrapper-groups-big-item{
    display: flex;
    flex-direction: row;
}

.wrapper-social{
    width:150px;
    height: 150px;
    background: #C699C6;
}

.wrapper-social-icon{
    border-bottom: 1px solid white;
    padding-bottom: 0.5em;
}

.wrapper-groups-menu-items{
    margin: 0.2em
}
.fa-bars{
    display: none;
    color: black;
    font-size: 2em;
}

@media screen and (max-width:768px){

    .fa-bars{
        display: block;
        text-align: center;
    }
    
    .main-menu{
        display: none;
    }

    .header-wrapper{
        flex-direction: column;
    }

    .wrapper-grid{
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}